* {
    font-family: 'Source Code Pro', monospace;
}

.title {
    margin: 10px;
}

.hi {
    margin: 10px
}

.city {
    margin: 10px
}

.weatherTitle {
    margin: 10px
}

.navbar {
  background-color: #293462;
 
}

.nav-item a{
     color: #ffdc34 !important;
}


.incorrectUser {
    margin-top: 10px;
    color: red
}

#mapid { height: 180px; }


.main {
background-color: #9be3de;
}



