/* * {
    font-family: 'Source Code Pro', monospace;
} */

.title {
    margin: 10px;
}

.hi {
    margin: 10px
}

.city {
    margin: 10px
}

.weatherTitle {
    margin: 10px
}

.navbar {
  background-color: black;
 
} 



/* 
body {
 background-image: url("/images/background5.jpg")
} */


.nav-item a{
     color:white
} 


.incorrectUser {
    margin-top: 10px;
    color: red
}

#mapid { height: 180px; }

.leaflet-container {
    height: 400px;
    width: 800px;
}



