

.navbar {
  background-color: black;
 
} 



/* 
body {
 background-image: url("/images/background5.jpg")
} */


.nav-item a{
     color:white
} 


.incorrectUser {
    margin-top: 10px;
    color: red
}


.leaflet-container {
    height: 400px;
    width: 800px;
    margin: auto;
    /* display: inline-block */
}


.main {
    margin-left: 10px
}


.login {
    margin-top: 60px;
    margin-left: auto;
     margin-right: auto;
    border-style: solid;
  border-width: 5px;
  width: 400px;
  padding: 10px
}

.details {
   margin-top: 20px;
    margin-left: auto;
     margin-right: auto;
    
  width: 400px;
 
}